/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 2, 71, 49;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: orange;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background-size: cover;
  background: fixed center url("images/landing-page.jpg");
}

#landing-page h1,
#landing-page h2 {
  font-family: AppleGothic, sans-serif;
}

#landing-page h1{
  font-weight: bold;
}

.link {
  color: rgb(2, 71, 49);
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-light);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

#hours {
  white-space: pre-line;
}

.green-submit {
  background-color: rgb(2,71,49);
  color: white;
}

.border-right {
  border-right: 1px solid white;
}

#subscribe-button {
  background-color: green;
  color: white;
  border: 1px solid green;
  }

#big-white-links {
  font-size: 25px;
  color: white;
}
